# Homework Part A

## Imports

In [9]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import m

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

## Loading tables

In [5]:
green_taxi_data = pd.read_sql_table(table_name="green_taxi_data",con=engine, schema="public")

In [6]:
zones = pd.read_sql_table(table_name="taxi_zones",con=engine, schema="public")

## Question 3. Count records

How many taxi trips were totally made on January 15?

In [14]:
start_time = pd.Timestamp('2019-01-15 00:00:00')
end_time = pd.Timestamp('2019-01-15 23:59:59')

trips_on_date = green_taxi_data[(green_taxi_data["lpep_pickup_datetime"] >= start_time) & (green_taxi_data["lpep_dropoff_datetime"] <= end_time)]

In [15]:
len(trips_on_date)

20530

## Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [19]:
green_taxi_data.sort_values("trip_distance",ascending=False).head(1)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
297377,None,2,2019-01-15 19:27:58,2019-01-15 22:59:01,N,1,221,265,1,117.99,...,1.0,0.5,0.0,10.5,NaN,0.3,339.2,2,1,NaN

## Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

In [39]:
start_time = pd.Timestamp('2019-01-01 00:00:00')
end_time = pd.Timestamp('2019-01-01 23:59:59')

trips = green_taxi_data[
    (green_taxi_data["lpep_pickup_datetime"] >= start_time)
    & (green_taxi_data["lpep_dropoff_datetime"] <= end_time)
    & (green_taxi_data["passenger_count"].isin([2,3]))
]

In [40]:
trips.groupby("passenger_count").agg({"VendorID":"count"})

                 VendorID
passenger_count
2                    1266
3                     253

## Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [47]:
pickup_df = pd.merge(green_taxi_data,zones,left_on="PULocationID",right_on="LocationID")[["Zone", "DOLocationID", "tip_amount"]]

In [52]:
final_df = pd.merge(pickup_df, zones, left_on="DOLocationID", right_on="LocationID")[["Zone_x", "Zone_y", "tip_amount"]]

In [57]:
final_df[final_df["Zone_x"] == 'Astoria'].sort_values("tip_amount",ascending=False).head(1)

         Zone_x                         Zone_y  tip_amount
203965  Astoria  Long Island City/Queens Plaza        88.0